body,
table {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 13px;
	width:100%;
}

body {
	padding: 0;
	margin: 0;
	margin: 0;
	background: black url(../images/bg_tile_colorized.png) repeat;
}

div.clearboth {
	clear: both;
}

#universetoolbars {
  position: fixed;
  top:0;
	background-color: rgba(41,71,99,0.94);
	width: 100%;
  z-index: 100;
  -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;  
}

div.universetoolbar {
	display:none;
	xbackground-color: rgba(41,71,99,0.94);
	padding: 0;
  width: 100%;
	min-height: 20px;
	color: rgba(255,255,255,0.6);
	padding: 10px;
	position: relative;
}

#universetoolbar-tags {
	background-color: rgba(0,0,0,0.2);
}


#universetoolbar-actions {
  border-top: 1px solid #6B8093;
  padding: 0 5px;
}


div.universetoolbar:last-child {
	border-bottom: none;
}

div.universetoolbar.uos-element-active {
	display:block;
}

#universetoolbar #universetagbar {
	height:40px;
	padding: 7px 10px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
}

#universetoolbars #uos-entity-title {
	font-size:18px;
	margin: 5px 5px 0;
}

#universetoolbars #uos-entity-type {
	font-size:10px;
	font-style: italic;
	margin: 0 5px 8px;
}

#universetoolbar ul#universe-status {
	float: left;
	margin: 0;
	padding: 0;
}

#universetoolbars #uos-status-icon {
	float: left;
	margin: 0;
	position: relative;
}

#universetoolbar-status #uos-status-icon .field-icon {
	width:48px;
	height: 48px;
	border-width: 3px;
}

#universetoolbars #universetoolbar-tagbar {
	float: left;
	margin: 0px 10px;
	display:block;
}
#universetoolbars #universetoolbar-tagbar:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

#universetoolbar-actions ul#universe-actions {
	xfloat: right;
	margin: 0;
	padding: 0;
}

#universetoolbar-status > div.uos-element > ul > li,
ul.uos-actions > li {
	float:left;
	display: inline;
	height: 100%;
	padding: 0 10px;
	margin: 0;
}

ul.uos-actions > li {
	padding: 10px;
}

ul.uos-actions > li i.fa {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
}

ul.uos-actions > li i.fa:before {
	font-family: FontAwesome;
	font-size: 35px;
	padding: 10px;
	font-style: normal;
}

ul.uos-actions > li:hover {
	color: rgba(255,255,255,1);
}

ul.uos-actions > li.km {
	padding: 20px 20px;
	font-size: 10px;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	padding: 2px 5px;
}

ul.uos-actions li.ctrl-keystatus,
ul.uos-actions li.meta-keystatus, 
ul.uos-actions li.shift-keystatus,
ul.uos-actions li.alt-keystatus {
	display:none;
}

body.ctrl-pressed ul.uos-actions li.ctrl-keystatus,
body.meta-pressed ul.uos-actions li.meta-keystatus,
body.shift-pressed ul.uos-actions li.shift-keystatus,
body.alt-pressed ul.uos-actions li.alt-keystatus {
	display:block;
}

#universetoolbar-status  li#universe-details {
	padding: 0;
}

#container {
	xmargin:10px;
	/* for tool bar */
	margin-top: 163px;
}

#universetoolbars h1 {
	font-weight: normal;
	font-size: 18px;
	margin: 10px 0 2px;
	padding: 0;
}

div.uos-tags {
	xpadding: 0 0 5px;
	font-size: 12px;
	xmargin-top: 5px;
}

div.uos-tags ul {
	margin: 0;
	padding: 0;
}

div.uos-tags ul li {
	xbackground-color: rgba(255,255,255,0.8);
	color: rgba(255,255,255,0.85);
	border-radius: 15px;
	border:2px solid rgba(255,255,255,0.75);
	float:left;
	margin: 0;
	margin-right: 1px;
	padding: 1px 6px;
	font-size: 9px;
	line-height: 9px;
}

div.uos-tags ul li i.fa {
	font-size: 9px;
	line-height: 9px;
}

div.uos-tags ul li.universe-entity {
	background-color: #1e5799;
-webkit-box-shadow: inset 5px 5px 22px 0px rgba(125,185,232,1);
-moz-box-shadow: inset 5px 5px 22px 0px rgba(125,185,232,1);
box-shadow: inset 5px 5px 22px 0px rgba(125,185,232,1);
	background-color: #7db9e8;
	background-color: #447EB8;
-webkit-box-shadow: inset 5px 5px 22px 0px rgba(30,87,153,1);
-moz-box-shadow: inset 5px 5px 22px 0px rgba(30,87,153,1);
box-shadow: inset 5px 5px 22px 0px rgba(30,87,153,1);
}

div.uos-tags ul li.universe-entity:after {
    content: "<li>";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


#input {
	display:none;
	background-color: rgba(255,255,255,0.7);
  position: fixed;
  right:10px;
  bottom: 10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
  z-index: 100;
  padding: 10px 15px;
	color: rgba(0,0,0,0.6);	
	opacity: 0.4;
	-webkit-transition: all 1s;	
	transition: all 1s;
}

#input > h2 {
	font-size: 12px;
}

#input table {
	font-size: 10px;
	width: 100%;
}

#input table td {
	vertical-align: top;
	overflow: hidden;
	color: rgba(0,0,0,0.6);	
}

#input table td.fieldname {
	font-weight: bold;
	width: 10%;
}

#input table td.fieldvalue {
	width: 90%;
}

#inputmessages {
	overflow: scroll;
	xbottom:10px;
	display: block;
	height: 200px;
	word-break: break-word;
}


#input.opened {
	opacity: 1;
	left:10px;
	width: auto;
	height: auto;
	bottom: 10px;
	top: 75px;
	background-color: rgba(255,255,255,1);
	overflow: scroll;
	display:block;
}

#input div.node{
	margin: 0;
	min-height: inherit;
	border: 1px solid rgba(255,255,255,0.2);
	color: rgba(0,0,0,0.9);
	margin-bottom: 3px;
	border-radius: 0;
	border:none;
	background-color: white;
}

#input div.node.node_message div.field {
	xfloat: left;
	display: none;
	font-size: 9px;
	border: none;
	padding: 3px 10px 0;
}

#input div.node.node_message div.field.key-message:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#input div.node.node_message div.field span.separator {
	display: none;
}
#input div.node.node_message div.field label,
#inputmessages tr {
	display: none;
}
#input div.node.node_message div.field.key-message,
#input div.node.node_message div.field.key-function,
#input div.node.node_message div.field.key-time {
	display:block;
}

#inputmessages tr.key-message,
#inputmessages tr.key-function,
#inputmessages tr.key-time,
#inputmessages tr.key-tags {
	display: table-row;
}

#input div.node.node_message div.field.key-function,
#input div.node.node_message div.field.key-time {
	font-weight: bold;
	xpadding-bottom: 0;
}

#input div.uos-element.node_message div.field.key-message {
	xpadding-bottom: 5px;
}


#input div.uos-element.node_message div.field.key-function {
	padding-bottom: 5px;
}

#input div.uos-element .uos-header {
	display: none;
	padding: 3px;
	-webkit-transform: scale(0.2);
	-webkit-transform-origin:top left;
}

#input div.uos-element:hover .uos-header {
	display: block;
}

#inputmessages table,
#inputmessages li {
	margin-bottom: 4px;
	background-color: rgba(0,0,0,0.2);
}



div.uos-element.node {
	xxborder: 1px solid grey;
	xxbackground-color: #cccccc;
	margin:0;
	min-width:300px;
	xxbackground-color: #8aa2ca;
	background-color: rgba(0,0,0,0.2);
	background-color: transparent;
	xbackground-color: rgba(0,0,0,0.6);
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
	-webkit-transition: all 1s;
	min-height: 90px;
	position: relative;
	xborder: 2px solid white;
	xborder-radius: 40px;
	xoverflow: hidden;
	color: rgba(255,255,255,0.6);
}



#container > div.uos-element.node > xdiv.uos-element.node {
	background-color: rgba(0,0,0,0.6);
}

div.uos-element.node > div.uos-element.node,
div.uos-element.node > div.uos-element-children > div.uos-element.node {
	xmargin: 10px;
}

div.uos-element.node > div.uos-element-children > h2 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
	margin-top: 0;
	opacity: 0.5;
}

div.uos-element.node > div.uos-element-children {
	xborder: 1px solid rgba(255,255,255,0.2);
	padding: 10px;
}

div.uos-element.node > div.uos-element-children.empty {
	display:none;
}

div.uos-element .uos-header {
	position: absolute;
	min-width: 50%;
/*rgba(0,0,0,0.3);*/
	padding:10px;
	display: inline-block;
	xdisplay:none;
	xbackground-color: rgba(255,255,255,0.2);
	xwidth:100%;
	xmin-height:90px;
	-webkit-transition: all 1s;	
	display:block;
}

#universetoolbar-status div.uos-element .uos-header {
	position: relative;
	display:block;
	padding: 0;
	width:48px;
}

div.uos-element:hover > .uos-header {
	display: block;
	xbackground-color: rgba(255,255,255,0.8);
}

div.uos-element .uos-header .field-group:hover {
	xbackground-color: rgba(255,255,255,1);
}

div.uos-element .uos-header .field {
	margin: 0;
	margin-bottom: 3px;
}

div.uos-element .uos-header .field-title {
	font-size: 13px;
	color: rgba(0,0,0,0.7);
}

div.uos-element .uos-header .field-group {
	position: absolute;
	background-color: rgba(255,255,255,0.8);
	left: 40px;
	top: 17px;
	font-size: 12px;
	width: auto;
	xmax-height: 30px;
	padding: 5px 15px 5px 0;
	border-radius: 12px;
	overflow: hidden;
	color: rgba(0,0,0,0.5);
	z-index:10;
	-webkit-transition: all 1s;	
	opacity: 0;
	display: inline-block;
	min-width: 200px;
	padding: 5px 15px 5px 35px;
}

div.uos-element .uos-header .field-group h2 {
	font-size: 13px;
	margin: 0;
	margin-bottom: 0.2em;
}

div.uos-element .uos-header .field-group h3 {
	font-size: 11px;
	font-style: italic;
	margin: 0;
	margin-bottom: 0.2em;
}

div.uos-element:hover > .uos-header .field-group {
	padding: 5px 15px 5px 35px;
	background-color: rgba(255,255,255,1);
	width: auto;
	max-height: none;
	opacity: 1;
}


div.uos-element .uos-header .field-group .field {
	display: block;
	xmargin-right: 5px;
	xwidth: 1px;
	overflow: hidden;
	min-width: 180px;
	float: right;
}

div.uos-element:hover .uos-header .field-group .field {
	xwidth:auto;
}

div.uos-element .uos-header .field-group h2.field {
	display: block;
}

#universetoolbar .field-icon {

}

div.uos-element .uos-header .field-icon {
	z-index:12;
	position: absolute;
}

.drag-helper,
div.uos-element .field-icon {
	display: block;
	border: 4px solid white;
	overflow: hidden;
	border-radius: 50%;
	color: white;
	width: 58px;
	height: 58px;
	font-size: 30px;
	background: #7db9e8; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #7db9e8 1%, #1e5799 58%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#7db9e8), color-stop(58%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #7db9e8 1%,#1e5799 58%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #7db9e8 1%,#1e5799 58%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #7db9e8 1%,#1e5799 58%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #7db9e8 1%,#1e5799 58%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#universetoolbar-status div.uos-element i.uos-entity-icon {
	font-size: 23px;
	margin: 0.45em auto 0;	
}

div.uos-element .field-icon i {
	color: white;
}

.drag-helper .fa-stack,
#universetoolbars .field-icon .fa-stack,
div.uos-element .field-icon .fa-stack {
	width: 100%;
	line-height: 1em;
}

.drag-helper i {
	font-size: 16px;	
	color: white;
	margin: 8px auto;
}

#universetoolbar .field-icon i,
div.uos-element .field-icon i {
	xmargin: 9px auto 0;
	margin: 0.35em auto 0;
	xfont-size: 30px;
	color: rgba(0,0,0,0.5);
	display: block;
	text-align: center;
}

#universetoolbar .universe-selected-count {
	xcolor: white;
}



ul.array {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
}

ul.array li {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-image: none;
}

div.node div.field {
	border-bottom:1px dotted rgba(255,255,255,0.2);
	padding: 10px;
}

div.node div.field:last-child {
	border-bottom: none;
}

.xxx {
	border:1px solid red;
}

body .growl.growl-notice,
body .growl.growl-default {
	background: #b4ddb4; /* Old browsers */
	color: rgba(0,0,0,0.6);
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] {
	width:100px;
	height: 100px;
	display:block;
	background-color: transparent;
	border: none;
	border-radius: 0;
	xcolor: rgba(255,255,255,0.6);
	overflow: visible;
	background-color: rgba(255,255,255,0.2);
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] div.field {
	xdisplay: none;
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] div.field.field-title {
	display: block;
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] > div.overlay div.field-icon {
	display: none;
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] > div.overlay {
	xposition: absolute;
	xbottom:0px;
}

div.uos-element.uos-type-node.three-d[data-display="teaser.html"] > div.overlay > i.uos-entity-icon {
	display: none;
}


#universetoolbar-status i.children-count,
div.node .uos-header i.children-count {
	border:2px solid white;
	color: white;
	background-color: #181B27;
	padding: 2px 4px;
	border-radius: 50%;
	font-size: 10px;
	font-weight: bold;
	width:auto;
	position: relative;
	z-index: 15;
	left: 40px;
	top: 40px;	
}

#universetoolbar-status i.children-count {
	left: 35px;
	top: 30px;
	position: absolute;
}

li.status-refreshing {
	display:none;
}

.uos-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.65);
	background-color: rgba(41,71,99,0.65);
	z-index: 1000;
	color: white;
	font-size:30px;
	text-align: center;
}

.uos-overlay i {
	margin: auto;
	xwidth:150px;
	xheight:150px;
	font-size: 100px;
	text-align: center;
}

div.node > ul > li > div.field.locked {
	color: red;
} 

div.uos-element.node.uos-uninitialized {
	opacity: 0.2;
}


body.uos-toolbar-active div#universetoolbar #universe-details {
	display: none;
}

#container > div.uos-element.field {
	background-color: white;
	padding: 10px 15px;
}

.bootstrap-switch-container {
	height: 2.4em;
}




.uos-progress-indicator {
	overflow: hidden;
	border-radius: 10px;
	height:1em;	
	display: block;
	background-color: rgba(255,255,255,0.2);
}

.uos-progress-indicator .uos-progress-slider {
	width: 0.1%;
	display: block;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all 1s;	
}

div.node_file_video .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

div.node_file_video div.video-container iframe,
div.node_file_video div.video-container object,
div.node_file_video div.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


input, textarea {
	background-color: rgba(255,255,255,0.1);
	border:1px solid rgba(255,255,255,0.4);
	color: white;
}

textarea.editvalue {
	xcolor: black;
	width: 100%;
}

div.uos-element.display-teaser-html > i.fa {
	font-size: 100px;
	display: block;
	float: none;
	position: relative;
}
div.uos-element.display-teaser-html > h1 {
	text-align: center;
}
div.uos-element.display-tease-html > h2 {
	text-align: center;
	font-size: 0.9em;
}

div.uos-element.node_message.display-note-html {
	background-color: #fff9d9;
}

div.uos-element.node_message.display-note-html > .field {
	font-family: 'Shadows Into Light Two', 'cursive';
	font-size: 16px;
	margin: 0 20px;
	border: none;
	color: rgba(0,0,0,0.8);
}

div.uos-element.node_message.display-note-html > .field > label {
	display: none;
}

div.uos-element.node_message.display-note-html > .field > .separator {
	display: none;
}

div.bootstrap-dialog-message div.uos-element.node {
	color: black;
	box-shadow: none;
}

div.uos-invalid,
div.uos-element.uos-invalid {
	background-color: rgba(255,0,0,0.1);
}

div.uos-element form.uos-action-form div.uos-valid {
	background-color: rgba(0,255,0,0.08);
}


div.uos-element form.uos-action-form > div.uos-form-controls {
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

div.uos-element form.uos-action-form {
	padding: 0;
	margin: 0;
}

div.uos-invisible {
	xbackground-color: rgba(0,0,0,0.5);
	opacity: 0.5;
	display: none;
}


body.uos-show-invisible div.uos-invisible {
	xbackground-color: rgba(0,0,0,0.5);
	opacity: 0.5;
}

div.uos-element.uos-valid.uos-modified {
	background-color: rgba(0,255,0,0.6);
}

div.uos-element.node[data-display="teaser.html"] {
	xbox-shadow: none;
	background-color: rgba(255,255,255,0.1);
}

div.uos-element.node[data-display="teaser.html"] div.visual {
	xbox-shadow: 0 5px 5px 2px rgba(0,0,0,0.2);
	position: relative;
	width:100%;
	min-height: 100px;
	xpadding: 10px;
}

div.uos-element.node[data-display="teaser.html"] div.visual > i.uos-entity-icon {
	position: absolute;
	top: 10%;
	font-size: 100px;
	text-align: center;
	width:100%;
}

div.uos-element.node[data-display="teaser.html"] > div.overlay {
	text-align: center;
	font-size:14px;
	line-height: 2em;
	word-break: break-word;
}

div.uos-element.node[data-display="teaser.html"] > div.overlay > p {
	margin: 0;
}

div.uos-element.node[data-display="teaser.html"] > div.overlay > i.uos-entity-icon {
	font-size: 90px;
	xwidth:120px;
	xheight:110px;
	xborder-radius: 50%;
	padding:10px 0;
	xdisplay: inline-block;
	display: block;
	xbackground-color: rgba(51,83,112,0.3);
	xposition: absolute;
	xtop: 10px;
	xright: 10px;
	xdisplay: none;
}

div.uos-element.node[data-display="teaser.html"] > div.field {
	background-color: transparent;
}

div.uos-element.node[data-display="teaser.html"] div.field > label.key,
div.uos-element.node[data-display="teaser.html"] div.field > span.separator {
	display: none;
}

div.uos-element.node[data-display="teaser.html"] div.field.uos-valid {
	background-color: transparent;
}

div.uos-element.node[data-display="teaser.html"] > div.overlay > div.field.field-key-title {
	font-size:20px;
	text-align: center;
	xwidth: 100%;
	xposition: absolute;
	xbottom: 0;
	xleft: 0;
	xright: 0;
	xbackground-color: rgba(0,0,0,0.6);
}

div.uos-element.node[data-display="teaser.html"] > div.wrapper-info > div.field.field-key-title > .field-value {
	display: block;
	width: 100%;
}

div.uos-insert-point {
	padding: 0px;
	display:block;
	margin: 0;
	height:25px;
	xborder:1px solid white;
	overflow: hidden;
	color: rgba(255,255,255,0);
	text-align: center;
	font-size: 10px;
	-webkit-transition: all 1s;	
	transition: all 1s;
	z-index: 200;
}

div.uos-insert-point.dragging-target {
	padding: 20px;
	display:block;
	margin: 10px 0;
	height: auto;
	font-size: 80px;
	color: rgba(255,255,255,0.4);
	background-color: rgba(255,255,255,0.1);
	box-shadow: 0 5px 5px 2px rgba(0,0,0,0.2);
}

body.uos-internet-offline {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}